.cart {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.cartItem span {
  margin-right: 15px;
}

.delete-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #ff0000;
}

.add-to-cart-button {
  background-color: #ff991b;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: #935810;
}

