.productCreate {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.productCreate h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.formGroup {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.formGroup label {
  font-weight: bold;
  margin-bottom: 5px;
}

.formGroup input,
.formGroup textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.formGroup textarea {
  resize: vertical;
  min-height: 80px;
}
